modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Waifu Bot"

[[workflows.workflow]]
name = "Waifu Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m TEAMZYRO"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
API_ID = "34242066"
OWNER_ID = "8908521969"
SUPPORT_GROUP_LINK = "https://t.me/mafiaxsupports"
CHANNEL_LINK = "https://t.me/mafiaXupdates"
BOT_LOGGING = "-1004378945314"
DATABASE_ID = "-1003784042137"
FORCE_JOIN = "-1003784042137"
UPDATE_CHAT = "https://t.me/mafiaXupdates"

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]
